.input-container {
  position: relative;
}

.input {
  border: 1px solid #BFBFBF;
  border-radius: 5px;
  padding: 10px 8px;
  width: 100%;
  outline: none;
  font-size: 16px;
}

.input-label {
  position: absolute;
  top: 11px;
  left: 11px;
  color: #8F8F8F;
  pointer-events: none;
  transition: 0.2s;
}

.input:focus + .input-label,
.input-has-value + .input-label {
  top: -7px;
  font-size: 11px;
  background-color: #FFFFFF;
  padding: 0 3px;
}
