.troubles {
  flex-grow: 1;
  padding: 0 20px;
}

.troubles-table-container {
  margin: 0 auto;
  max-width: fit-content;
}

.troubles table {
  border-collapse: collapse;
  background-color: #FFFFFF;
}

.troubles-list th {
  background-color: #212529;
  color: white;
}

.troubles-list th,
.troubles-list td {
  max-width: 240px;
  text-align: center;
  border: 1px solid #BFBFBFBF;
  padding: 13px 10px;
}

.trouble-id {
  min-width: 100px;
  color: #3768FD;
  text-decoration: underline;
  cursor: pointer;
}

.troubles-pagination-container {
  background-color: #FFFFFF;
}

.troubles-pagination {
  display: flex;
  justify-content: space-between;
  gap: 110px;
  padding: 20px 20px 0;
  max-width: fit-content;
  margin: 0 auto;
  color: #8F8F8F;
  font-size: 14px;
  user-select: none;
}

.troubles-to-prev-list,
.troubles-to-next-list {
  background-repeat: no-repeat;
  cursor: pointer;
}

.troubles-to-prev-list {
  padding-left: 35px;
  background-image: url("../../assets/tab-left.svg");
  background-position: left 5px;
}

.troubles-to-next-list {
  padding-right: 35px;
  background-image: url("../../assets/tab-right.svg");
  background-position: right 5px;
}

.troubles-tab-numbers {
  display: flex;
}

.troubles-tab-number {
  min-width: 30px;
  padding-bottom: 20px;
  text-align: center;
  cursor: pointer;
}

.troubles-current-tab {
  color: #212529;
  font-weight: 600;
  border-bottom: 2px solid #238854;
}

.troubles-tools {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.trouble-status-1,
.trouble-status-2,
.trouble-status-3 {
  font-weight: 700;
}

.trouble-status-1 {
  color: #FCA21C;
}

.trouble-status-2 {
  color: #E31A1A;
}

.trouble-status-3 {
  color: #1DBF12;
}

.trouble-tooltip-toggler {
  position: relative;
  min-height: 63px;
  min-width: 63px;
  background-image: url("../../assets/tooltip-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.1s;
}

.trouble-tooltip-toggler.focused {
  background-color: #F3F2F1;
}

.trouble-tooltip-options {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 140px;
  border: 1px solid #BFBFBF;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 4px;
  z-index: 1;
}
