.select {
  position: relative;
  border-radius: 5px;
  transition: 0.1s;
  width: 100%;
}

.select input {
  border: 1px solid #BFBFBF;
  border-radius: 5px;
  padding: 9px 45px 7px 8px;
  outline: none;
  width: 100%;
  height: 37px;
  transition: .5s;
}

.select-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 37px;
  border: 1px solid #BFBFBF;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.select-arrow {
  transition: 0.2s;
  transform: translateY(-1px);
}

.select-toggler-focused .select-arrow {
  transform: rotate(180deg) translateY(-3px);
}

.select-items {
  display: none;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  background-color: #FFFFFF;
  padding: 5px;
  border: 1px solid #BFBFBF;
  border-radius: 8px;
  box-shadow: 0 2px 12px -8px #000000;
  transition: scale .2s, opacity .3s;
  transition-behavior: allow-discrete;
  z-index: 2;
}

.select:focus-within .select-items {
  @starting-style {
    scale: 0.9;
    opacity: 0;
  }
}

.select-item {
  padding: 2px 4px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.select-item:hover {
  background-color: #ededed;
}

.select .input-label {
  top: 9px;
  transition-delay: .12s;
}

.select .input:focus + .input-label,
.select .input-has-value + .input-label {
  top: -6px;
}
