:root {
  --primary: #345976;
  --surface: #FFFFFF;
  --hard: #8F8F8F;
}

*, ::before {
  box-sizing: border-box;
}

* {
  overscroll-behavior: contain;
}

html {
  min-width: 1440px;
}

body {
  background: #ECF0F1;
}

.App {
  display: flex;
}

h1 {
  text-align: center;
}

body:has(.create-trouble-form-container[open]),
body:has(.single-trouble-modal-container[open]) {
  overflow: hidden;
}
